<h1>Sign up to get some Cats!</h1>
<p>
  Please fill out the information below, all fields are mandatory.
</p>
<form action="<%= session_url %>" method="post">
  <p>
  <label>Email:
  <input type="email" name="user[email]">
  </label>
  </p>
  <p>
  <label>Password:
  <input type="password" name="user[password]">
  </label>
  </p>
  <p>
    <input type="submit" name="submit" id="Get some cats!">
  </p>
  <input type="hidden" name="authenticity_token"
  value="<%= form_authenticity_token %>">
</form>


